{% extends 'base.html' %}

{% block body %}

<div class="container">
  {% if update %}
    <h1>Update an item</h1>
  {% else  %}
  <h1>Add an item</h1>
  {%endif%}



    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label()}}
            {{ form.name(class="form-control")}}
        </div>
        <div class="form-group">
          {{ form.category.label}}
          {{ form.category(class="form-control")}}
      </div>
        <div class="form-group">
            {{ form.price.label}}
            {{ form.price(class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.description.label}}
            {{ form.description(class="form-control", cols="35", rows="7")}}
        </div>
        <div class="form-group">
            {{ form.picture.label }}
            {{ form.picture(class="form-control")}}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                <span class="text-danger">{{error}}</span></br>
              {% endfor %}
            {% endif%}
          </div>

          <!-- <div class="form-group">
            {{ form.other_pictures.label }}
            {{ form.other_pictures(class="form-control")}}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                <span class="text-danger">{{error}}</span></br>
              {% endfor %}
            {% endif%}
          </div> -->

          {% if update %}
          <div style="text-align: center;" class="form-group">
            {{form.submit (class="button", value="Update")}}
        </div>
        {% else %}
        <div style="text-align: center;" class="form-group">
          {{form.submit (class="button")}}
      </div>
        {% endif %}
    </form>
    {% if update %}
    <a href="{{url_for("delete",itemid=item.id)}}">
    <div style="text-align: center;">
      <button class="button" style="background-color: red; color: white;">
        Delete Item
      </button>
      
    </div>
  </a>
  {% endif %}

</div>


{% endblock %}