{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4">Column A</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column B</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column C</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column D</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column E</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column F</div>
    </div>
    <br />
    <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4">Column A Line 1<br /> Column B Line 2</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column B</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column C</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column D</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column E</div>
    <div class="col-xs-6 col-sm-4 col-md-4">Column F</div>
    </div>
    </div>
{% endblock %}