{% extends 'base.html' %}

{% block body %}
<!-- <h6 style="background-color: rgba(0, 0, 255, 0.452); padding: 20px; border: 1px solid blue; color: blue; ">Click here <a href="#">here</a> to post an ad and start making money</h6> -->
<div class="container">

  <form class="form-inline my-2 my-lg-0 mt-2" style="display: flex; padding-top: 20px; padding-bottom: 20px;" action="" method="post">
    {{ form.hidden_tag() }}
    {{form.search(class="form-control",style="width:85%; padding: 20px;")}}
    <!-- {{form.submit(style="width: 15%; background-color: blue;", class="btn btn-success")}} -->
    <button style="width: 15%; background-color: blue;" class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>

</form>
<!-- 
<form class="form-inline my-2 my-lg-0 mt-2" style="display: flex; padding-top: 20px; padding-bottom: 20px;" action="/searchal" method="POST">
    <input class="form-control" style="width:85%; padding: 20px;" type="search" name="q" placeholder="Search for a keyword" aria-label="Search">
    <button style="width: 15%; background-color: blue;" class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
    {{form.submit}}
  </form> -->
 
  <a href="{{url_for('categories')}}" style="text-decoration: none;">
  <div style="width: 100%; background-color: blue; font-weight: bold; color: white; padding: 16px; border-radius: 10px; display: flex; justify-content: space-between; " >
  <h6 style="margin-bottom: 0;">Show all categories</h6>
  <i class="fas fa-angle-right"></i>
    

  </div>
</a>

  <br>
  <h4>Recently added items</h4>
  
  <!-- <div style="display: flex; flex-wrap: wrap; justify-content: space-between;"> -->
  

  <div class="row">
    {% for item in items %}
<!--     
    <div class="card" style="width: 30; margin-bottom: 10px; border: 1px solid rgba(0, 0, 0, 0.411); border-radius: 10px;">
        <a style="text-decoration: none;" href="{{url_for('preview', itemid=item.id)}}">
          <div style="width: 40vw; height: 40vh; text-align: center; overflow: hidden; ">
            <img style="width: 40vw; height: 40vh; border-radius: 10px; object-fit: cover;"  src="../static/items/{{item.image}}">
          </div>
            <div style="background-color: aliceblue; padding: 10px; border-radius: 0 0 10px 10px;">  
              <h6 style="color: black;" >{{item.name}}</h6>
              <div style="display: flex; justify-content: space-between;">
                <h6 style="font-size: small;" class="text-muted">Ghc{{item.price}}</h6>
                {% if item.like %}
                <i style="color: rgba(0, 0, 255, 0.2);" class="fas fa-heart"></i>
                {% else %}
                <i class="fas fa-heart"></i>
                {% endif %}
              </div>
            </div>
        </a>
        </div> -->


<div class="col-md-6">
  <a style="text-decoration: none;" href="{{url_for('preview', itemid=item.id)}}">
  <div class="card" style="margin-bottom: 5vh; ">
      <img src="../static/items/{{item.image}}" style="object-fit: cover; width: 100%; height: 50vh;" alt="">
      <div style="background-color: aliceblue; padding: 10px; border-radius: 0 0 10px 10px;">  
        <h6 style="color: black;" >{{item.name}}</h6>
        <div style="display: flex; justify-content: space-between;">
          <h6 style="font-size: small;" class="text-muted">Ghc{{item.price}}</h6>
          {% if item.like %}
          <i style="color: rgb(0, 0, 255);" class="fas fa-heart"></i>
          {% else %}
          <i class="fas fa-heart"></i>
          {% endif %}
        </div>
      </div>
  </div>
  </a>
</div>


    {% endfor %}
</div>
    

      <!-- <div class="card" style="width: 45%;">
        <img style="width: 100%;" src="{{url_for('static', filename="img/main.jpg")}}">
        <h4>Item Name</h4>
        <h6>Item Price</h6>
    </div>
    <div class="card" style="width: 45%;">
        <div style="width: 50px; height:50px; background-color: aliceblue;"></div>
        <h4>Item Name</h4>
        <h6>Item Price</h6>
    </div>
    <div class="card" style="width: 45%;">
        <div style="width: 50px; height:50px; background-color: aliceblue;"></div>
        <h4>Item Name</h4>
        <h6>Item Price</h6>
    </div> -->

  
</div>
{% endblock %}
