{% extends "base.html" %}

{% block body %}
<div class="container">
<h1>{{user.username}}</h1>
<h4 class="text-muted">{{user.phone}}</h4>
{% for item in items %}
<a style="color: black; text-decoration: none;" href="{{url_for('update', itemid = item.id)}}">
    <div class="space">
        <div style="display: flex; padding: 0;">
            <div style="width: 70px; height:70px; margin-right: 10px; border-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.1);">
            <img style="width: 70px; height: 70px; object-fit: cover;" src="../static/items/{{item.image}}">
            </div>
            <div>
                <h4>{{item.name}}</h4>
                <h6 class="text-muted">{{ item.description | truncate(50) }}</h6>
            </div>
        </div>
    </div>
</a>

{% endfor %}
</div>

{% endblock %}