{% extends "base.html" %}

{% block body %}
<div class="container">
<a href="{{url_for('usershop', username = user.username)}}">
    <h1>{{user.username}}</h1>
</a>
<h4 class="text-muted">{{user.phone}}</h4>
{% for item in items %}
<a style="color: black; text-decoration: none;" href="{{url_for('update', itemid = item.id)}}">
    <div class="options-button space">
        <div style="display: flex; padding: 0;">
            <div style="width: 70px; height:70px; margin-right: 10px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.1);">
            <img style="width: 70px; height: 70px; object-fit: cover; border-radius: 50%;" src="{{item.image}}">
            </div>
            <div>
                <h4>{{item.name}}</h4>
                <h6 class="text-muted">Ghc {{ item.price | truncate(50) }}</h6>
            </div>
        </div>
    </div>
</a>
{% endfor %}

</div>

{% endblock %}