{% extends 'base.html' %}

{% block body %}

<div class="container" style="padding: 20px;">
    <h3 class="sub-heading">Hello,<br> Sign up to get started</h3>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!-- {{ form.username.label()}} -->
            {{ form.username(class="space", placeholder="Enter a username")}}
        </div>
        <br>
        <div class="form-group">
            <!-- {{ form.phone.label}} -->
            {{ form.phone(class="space", placeholder="Enter a phone number")}}
        </div>
        <br>

        <div class="form-group">
            <!-- {{ form.password.label}} -->
            {{ form.password(class="space", placeholder="Enter a password")}}
        </div>
        <br>

        <div class="form-group">
            <!-- {{ form.confirm_password.label}} -->
            {{ form.confirm_password(class="space", placeholder="Confirm Password")}}
        </div>
        <br>
        <div class="form-group" style="text-align: center;">
            {{form.submit (class="login-button")}}
        </div>
    </form>
</div>


{% endblock %}